
.body-background{
    background-color: rgb(255, 255, 255);
    height: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-carousel{
    width: 1600px;
}

.navbar{
    width: 1600px;
    z-index: 1;
}

.letras-nav{
    color: rgb(255, 255, 255);
}

.letras-nav:hover{
    color: rgb(176, 173, 173);
}



