
.body-background{
    background-image: url("https://img.freepik.com/vector-gratis/fondo-rayas-geometricas-diagonales-semitono-detallado_1409-1444.jpg?w=2000");
    background-attachment: fixed;
    background-size: cover;

    height: 100%;
}


